<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="questions" class="models.questions.Questions">
    </bean>
    <bean id="daoCsv" class="dao.DaoCsv">
        <constructor-arg name="path" value="questions.csv"/>
        <constructor-arg name="questions" ref="questions"/>
    </bean>
    <bean id="statistic" class="services.Statistics"/>
    <bean id="scanner" class="services.scanner.Scanner">
        <constructor-arg name="dao" ref="daoCsv"/>
        <constructor-arg name="stats" ref="statistic"/>
    </bean>
</beans>